.main-page-jumbotron{
    background: url('/images/ip3.jpg');
    background-position-y: center;
    background-size: cover;
    background-repeat: none;
}
.display-main{
    color: white;
}
.card{
padding: 2rem 1.5rem 0 1.5rem;
box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}