
{{#partial "preContent"}}
    <div class="jumbotron jumbotrion-fluid bg-top-jumbotron">
        <div class="container">
            <h1 class="display-3">Preservation is Our Work!</h1>
            <p class="lead">conservancy is life</p>
        </div>
    </div>
{{/partial}}

{{#partial "content"}}
    {{#if endangered}}
        <table class="table text-center">
            <h4 class="text-center">Here are the endangered animals as reported by rangers</h4>
            <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Health</th>
                <th scope="col">Age</th>
            </tr>
            </thead>
            <tbody>
            {{#each endangered}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{health}}</td>
                    <td>{{age}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    {{else}}
        <h5 class="text-center">Unfortunately No Animal sightings yet but you can report one </h5>
    {{/if}}

{{/partial}}

{{> layout.hbs}}