

{{#partial "preContent"}}
    <div class="jumbotron jumbotrion-fluid bg-top-jumbotron">
        <div class="container">
            <h1 class="display-3">What are non-endangered Animals?</h1>
            <p class="lead">The animal conservancy</p>
        </div>
    </div>
{{/partial}}

{{#partial "content"}}
    {{#if normal}}
    <div class= "card ">
        <table class="table text-center">
            <h4 class="text-center">Here are the endangered animals as reported by rangers</h4>
            <thead class="thead-light">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Health</th>
                <th scope="col">Age</th>
            </tr>
            </thead>
            <tbody>
            {{#each normal}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{health}}</td>
                    <td>{{age}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    {{else}}
        <h5 class="text-center">Unfortunately No Animal sightings yet but you can report one</h5>
    {{/if}}
    </div>
{{/partial}}

{{> layout.hbs}}