
{{#partial "preContent"}}
    <div class="jumbotron jumbotrion-fluid sighting-jumbotron">
        <div class="container">
            <h1 class="display-3">Popular Sighting locations</h1>
            <p class="lead"></p>
        </div>
    </div>
{{/partial}}

{{#partial "content"}}
    {{#if sightings}}
        <h2 class="text-center">These are all the locations</h2>
        <ul class="list-group">
        {{#each sightings}}
            <li class="list-group-item"><a href="/sightings/{{locationofSighting}}/details">{{locationofSighting}}</a></li>
        {{/each}}
        </ul>
    {{else}}
        <h5 class="text-center">No Sightings have been established in any location</h5>
    {{/if}}
{{/partial}}

{{> layout.hbs}}
