

{{#partial "preContent"}}
    <div id="success-jumbotron" class="jumbotron jumbotron-fluid">
        <div class="container">
            <h4 class="alert-heading">Success !!</h4>
        </div>
    </div>
{{/partial}}

{{#partial "content"}}
    <h5 class="text-center alert-heading">Information saved!</h5>
{{/partial}}

{{> layout.hbs}}