

{{#partial "preContent"}}
    <div class="jumbotron jumbotrion-fluid all-rangers-jumbotron">
        <div class="container">
            <h1 class="display-3">Who is a Ranger ?</h1>
            <p class="lead"></p>
        </div>
    </div>
{{/partial}}

{{#partial "content"}}
    {{#if rangers}}
        <h2 class="text-center">Our Rangers</h2>
        <ul class="list-group">
            {{#each rangers}}
                <li class="list-group-item"><a href="/rangers/{{id}}/details">{{name}}</a></li>
            {{/each}}
        </ul>
    {{else}}
        <h5 class="text-center">No rangers have been registered yet</h5>
    {{/if}}

{{/partial}}

{{> layout.hbs}}